body {
	background-color: #165916;
	color: white;
}

.navbar {
	width: 100%;
	min-height: 50px;
	max-height: 50px;
	line-height: 40px;
	background-color: #29a036;
}

.title {
	margin-left: 20px;
}

.main {
	margin-top: 40px;
	margin-bottom: 0px;
}

.status-cell {
	background-color: #29a036;
	border-radius: 10px;
	text-align: center;
	padding: 15px;
}

.status-cell-content {
	min-height: 240px;
	max-height: 240px;
	overflow: hidden;
}

.status-message {
	margin-top: 15px;
}

h4 {
	color: white;
}

.circle {
	display: inline-block;
	font-family: FontAwesome;
	height: 4em;
	width: 4em;
	color: white;
	border-radius: 50%;
}

.bgred {
	background: red;
}

.bgyellow {
	background: yellow;
}

.fa-3x {
	line-height: 68px; /*TODO*/
}